@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/source/fonts/ptsans.woff2") format("woff2"), url("/source/fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2"), url("/source/fonts/ptsansbold.woff") format("woff");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page {
  height: 100%;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  min-width: 320px;
  margin: 0 -20px;
}

.main-nav__toggle-open {
  position: absolute;
  top: 17px;
  right: 20px;
  border: none;
}
.main-nav__toggle-open::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon-menu.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
}
.main-nav__toggle-open:hover {
  opacity: 0.6;
}
.main-nav__toggle-open:active {
  opacity: 0.3;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}

.main-nav__item {
  background-color: #81b3d2;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__item:last-child::after {
  content: " ";
  position: absolute;
  width: 320px;
  height: 7px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.main-nav__link {
  display: block;
  padding: 17px 12px 12px 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.main-nav__link:hover {
  background-color: #669ec0;
}
.main-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-content {
  flex-grow: 1;
}

.main-header {
  position: relative;
  background-color: #ffffff;
  min-height: 56px;
  margin: 0 20px;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/source/fonts/ptsans.woff2") format("woff2"), url("/source/fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2"), url("/source/fonts/ptsansbold.woff") format("woff");
}
.welcome__wrapper {
  display: flex;
  justify-content: center;
  background-image: url("../../img/rectangle-background.svg"), url("../../img/welcome-back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0 85px;
  margin-bottom: 32px;
}

.welcome__slogan {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0 18px;
  text-transform: uppercase;
  color: #000000;
}

.welcome__intro {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 0 18px;
  margin-bottom: 35px;
}

.advantages {
  background-color: #ffffff;
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 54px 18px 40px;
  text-align: center;
}

.advantages__wrapper--top {
  background-image: url("../../img/top-rectangle.svg");
  background-repeat: no-repeat;
  background-position: 50% -10%;
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages__image {
  width: 100%;
  height: 260px;
  display: block;
}

.advantages__wrapper-icon {
  padding-left: 47px;
}

.advantages__title-icon {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description-icon {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages__wrapper-icon--home {
  background-image: url("../../img/home-icon.svg");
  background-repeat: no-repeat;
}

.advantages__wrapper-icon--food {
  background-image: url("../../img/food-icon.svg");
  background-repeat: no-repeat;
}

.advantages__wrapper-icon--souvenirs {
  background-image: url("../../img/souvenirs-icon.svg");
  background-repeat: no-repeat;
}

.advantages-more {
  padding: 24px 26px;
  text-align: center;
  position: relative;
  background-color: #eeeeee;
}
.advantages-more::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #d6d6d6;
}

.advantages-more__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages-more__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages-more__description {
  margin: 0;
  text-transform: uppercase;
}

.search__wrapper {
  padding: 38px 29px 49px;
}

.search__title {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search__description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.search__link {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding: 16px 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.search__link:hover {
  background-color: #669ec0;
}
.search__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.search__link:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.map__image {
  width: 100%;
}

.main-footer {
  padding: 39px 12px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.social__list {
  min-width: 156px;
  display: flex;
  margin-bottom: 40px;
}

.social__item {
  background-color: #81b3d2;
  margin-right: 6px;
  padding: 12px;
}
.social__item:last-child {
  margin: 0;
}

.social__item:hover {
  background-color: #669ec0;
}
.social__item:hover:active {
  background-color: #5496bd;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
}

.copyright__text {
  margin: 0;
  display: flex;
  align-items: center;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-form__name {
  display: flex;
  justify-content: center;
  background-image: url("../../img/rectangle-background.svg"), url("../../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 0 67px;
  margin-bottom: 30px;
}

.catalog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #000000;
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.catalog__item {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 20px;
}

.catalog__item:first-child {
  border-top: 1px solid #e5e5e5;
}

.catalog__image {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.catalog__title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.catalog__description-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  margin: 0;
  margin-bottom: 11px;
}

.catalog__button {
  margin-right: 10px;
}

.catalog__like-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.video-content {
  margin-top: 17px;
}

.video-content__title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}

.video-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}

.presentation__video {
  display: block;
  width: 100%;
}

.feedback {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.feedback-header__title {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.feedback__header {
  padding: 6px 0 28px;
}

.feedback-header__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.feedback-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-form__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 20px;
  color: #000000;
}

.feedback-form__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px 39px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.feedback-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form__label {
  text-transform: uppercase;
}

.feedback-form__input {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
}

.feedback-form__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form-email__label,
.feedback-form-phone__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: 16px;
  text-transform: uppercase;
}

.feedback-form-phone__input,
.feedback-form-email__input {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback-form__radio-item {
  margin-bottom: 26px;
}

.radio__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__radio-list {
  padding: 0 20px 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.checkbox__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__checkbox-list {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px 24px;
  margin-bottom: 24px;
}

.feedback-form__checkbox-item {
  margin-bottom: 16px;
}

.feedback-form__textarea {
  background-color: #f2f2f2;
  border: none;
  min-width: 280px;
  min-height: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  margin: 0 20px 56px;
}

.feedback-form__button {
  border: none;
  display: flex;
  justify-content: center;
  min-width: 280px;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0 auto;
}

.feedback-form__required {
  margin: 0 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */