.advantages {
  background-color: $white;
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    min-width: 256px;
    min-height: 256px;
  }
}

.advantages__wrapper {
  background-color: $blue;
  color: $white;
  padding: 54px 18px 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 42px 33px;
  }
}

.advantages__wrapper--top {
  background-image: url("../img/top-rectangle.svg");
  background-repeat: no-repeat;
  background-position: 50% -10%;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages__image {
  width: 100%;
  display: block;

  &--city {
    @media (min-width: $tablet-width) {
      grid-column: 2/4;
    }
  }

  &--bridge {
    grid-column: 1/3;
  }
}

.advantages__wrapper-icon {
  padding-left: 65px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 331px;
    padding: 0;
  }
}

.advantages__title-icon {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
  }
}

.advantages__description-icon {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__item:nth-child(5) .advantages__title-icon {
  margin-top: 12px;
}

.advantages__wrapper-icon--home {
  background-image: url("../img/home-icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 21px;

  @media (min-width: $tablet-width) {
    background-position: 107px 60px;
  }

  @media (min-width: $desktop-width) {
    background-position: 176px 60px;
  }
}

.advantages__wrapper-icon--food {
  background-image: url("../img/food-icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 21px;

  @media (min-width: $tablet-width) {
    background-position: 107px 60px;
  }

  @media (min-width: $desktop-width) {
    background-position: 176px 60px;
  }
}

.advantages__wrapper-icon--souvenirs {
  background-image: url("../img/souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 21px;

  @media (min-width: $tablet-width) {
    background-position: 107px 60px;
  }

  @media (min-width: $desktop-width) {
    background-position: 176px 60px;
  }
}

.advantages-more {
  padding: 24px 26px;
  text-align: center;
  position: relative;
  background-color: $basegrey;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $darkgrey;
  }

  @media (min-width: $tablet-width) {
    padding: 53px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 50px;
  }
}

.advantages-more__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages-more__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages-more__description {
  margin: 0;
  text-transform: uppercase;
}
