.main-nav {
  position: relative;
}

.main-nav__wrapper {
  position: absolute;
  min-width: 320px;


  @media (min-width: $tablet-width) {
    background-color: $white;
    min-width: 768px;
  }
}

.main-nav__toggle-open {
  position: absolute;
  right: 0;
  border: none;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-menu.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 22px;
    right: 20px;
    top: 17px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 153px 153px 153px 153px 153px;
    background-color: $white;

    @media (min-width: $desktop-width) {
      grid-template-columns: 240px 240px 240px 240px 240px;
    }
  }
}

.main-nav__item {
  background-color: $blue;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    background-color: $white;
    box-shadow: none;

    &:nth-child(4n+3) {
      grid-column: 4/5;
    }
  }
}


.main-nav__item:last-child::after {
  content: " ";
  position: absolute;
  width: 320px;
  height: 7px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.main-nav__link {
  display: block;
  padding: 17px 12px 12px 12px;
  text-transform: uppercase;
  color: $white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $darkerblue;
  }

  @media (min-width: $tablet-width) {
    width: 133px;
    padding: 18px 0 17px;
    text-transform: uppercase;
    color: $black;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    border: none;
    box-shadow: none;

    &--current:visited {
      color: $current;
    }

    &:hover {
      color: $blue;
      background: $white;
    }

    &:active {
      color: rgba($black, 0.3);
      background-color: $white;
    }
  }
}
