.main-footer__wrapper {
  padding: 39px 12px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 36px 76px 36px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 76px 36px 45px;
  }
}

.contacts__text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.social__list {
  min-width: 156px;
  display: flex;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social__item {
  background-color: $blue;
  margin-right: 6px;
  padding: 12px;

  &:last-child {
    margin: 0;
  }
}

.social__item:hover {
  background-color: $darkblue;

  &:active {
    background-color: $darkerblue;
  }
}

.social__link {
  display: flex;
  flex-wrap: wrap;
}

.copyright__text {
  margin: 0;
  display: flex;
  align-items: center;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 128px;
}

.social__item:active .social__image {
  opacity: 0.3;
}


.social__link-HTMLAcademy:hover path {
  fill: $blue;
}

.social__link-HTMLAcademy:active path {
  fill: $lightblack;
}
