.main-form__name {
  display: flex;
  justify-content: center;
  background-image: url("../img/rectangle-background.svg"),
    url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 0 67px;
  margin-bottom: 30px;
}
