.main-form__name {
  display: flex;
  justify-content: center;
  background-size: 100%;
  background-image: url("../img/rectangle-background.svg"),
    url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 52px 45px 67px;
  margin-bottom: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rectangle-background.svg"), url("../img/welcome-back-catalog@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/rectangle-tablet.svg"), url("../img/welcome-back-tablet.jpg");
    padding: 95px 156px 117px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/rectangle-tablet.svg"), url("../img/welcome-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-desktop-catalog.jpg");
    padding: 103px 373px 121px 369px;
    margin-bottom: 78px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-desktop-catalog@2x.jpg");
    }
  }
}
