.modal {
  background-color: $white;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
  }

  &--confirm {
    @media (min-width: $tablet-width) {
      max-width: 600px;
    }
  }
}

.modal__text {
  text-transform: uppercase;
  text-align: center;
  padding: 45px 32px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 47px 25px 46px;
  }

  &--confirm {
    @media (min-width: $tablet-width) {
      padding: 53px 99px 30px 97px;
    }
  }
}

.modal__alert-title,
.modal__confirm-title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 21px;
  line-height: 26px;
}

.modal__description {
  margin: 0;
  margin-bottom: 32px;
}

.modal__button {
  border: none;
  display: flex;
  justify-content: center;
  min-width: 180px;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  background-color: $blue;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $darkerblue;
  }
}

.modal__button-close {
  min-width: 280px;
}

.modal__button-wrapper {
  background-color: $lightgrey;
  padding: 20px;
}
