.search__wrapper {
  padding: 46px 16px 49px;

  @media (min-width: $tablet-width) {
    padding: 61px 155px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 383px 58px;
  }
}

.search__title {
  margin: 0 0 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px;
    font-size: 30px;
  }
}

.search__description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;

  & br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 40px;
  }
}

.search__link {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: $blue;
  padding: 17px 12px;
  color: $white;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $darkerblue;
  }

  &:disabled {
    color: $white;
    background-color: $grey;
  }
}
