.video-content {
  margin-top: 17px;
}

.video-content__title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: $black;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.video-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
  padding: 0 27px;

  @media (min-width: $desktop-width) {
    padding: 0 240px;
  }
}


.presentation__video {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/preview-video.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/preview-video-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/preview-video-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .video-content__wrapper {
    padding: 58px 37px;
  }
}
