.video-content {
  margin-top: 17px;
}

.video-content__title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: $black;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px;
  }
}

.video-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 38px;
  padding: 3px 53px;

  @media (min-width: $desktop-width) {
    padding: 0 322px;
  }
}


.presentation__video {
  display: block;
  width: 100%;
  background-image: url("../img/preview-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/preview-video-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/preview-video-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .video-content__wrapper {
    padding: 41px 49px 50px;

    @media (min-width: $desktop-width) {
      padding: 45px 49px 50px;
    }
  }
}
