.welcome__wrapper {
  display: flex;
  justify-content: center;
  background-size: 100%;
  background-image: url("../img/rectangle-background.svg"),
    url("../img/welcome-back-mobile.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 90px 19px 85px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rectangle-background.svg"), url("../img/welcome-back-mobile@2x.webp");
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/rectangle-tablet.svg"), url("../img/back-desktop.webp");
    padding: 77px 154px 91px;
    background-repeat: no-repeat;
    background-position: bottom center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rectangle-tablet.svg"), url("../img/back-desktop@2x.webp");
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/hero-back-desktop.webp");
    background-position: bottom center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-desktop.svg"), url("../img/hero-back-desktop@2x.webp");
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
}

.welcome__slogan {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 35px 28px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
    font-size: 21px;
    line-height: 26px;
    padding: 50px 135px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 135px 0;
    margin-right: 4px;
    font-size: 21px;
    line-height: 26px;
  }
}

.welcome__intro {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 0 18px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 14px;
    line-height: 21px;
    padding: 0 124px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

.welcome__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}
